@layout('layout')

@section('head')
    {{ style('assets/libs/xterm/xterm.min.css') }}
    {{ script('assets/libs/xterm/xterm.min.js') }}
    {{ script('assets/libs/xterm/addons/fit/fit.min.js') }}
@endsection

@section('body')
    <div class="terminal-wrapper">
        <div id="terminal"></div>
    </div>
@endsection
    
@section('scripts')
    <script>
        const username = '{{ user.username }}';
    </script>
@endsection