<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interdimenssional Gate</title>

    {{ style('css/normalize/normalize.min.css') }}
    {{ style('css/style.css') }}

    <script>console.log("Hey, I'm here to load this website smoothly, don't pay attention to me :D");</script>
</head>

<body>
    <noscript>
        You'll need JavaScript to use this application :)
    </noscript>
    Hello :)

    {{ script('js/axios/axios.min.js') }}
</body>

</html>