<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interdimenssional Gate</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/style.css">

    <script>console.log("Hey, I'm here to load this website smoothly, don't pay attention to me :D");</script>
</head>

<body>
    <noscript>
        You'll need JavaScript to use this application :)
    </noscript>
    <div class="center">
        <div class="login">
            <h1>Interdimenssional Gate</h1>
            <p>
                Welcome to the Interdimenssional Gate.
                <br>
                Try your best in the other side.
            </p>
            <div class="terminal-login">
                <div>
                    <div data-promp="email" class="prompt">You email></div>
                    <input type="text" name="email" id="email" autocomplete="off" autofocus="autofocus">
                </div>
                <div>
                    <div data-promp="password" class="prompt hidden">You password></div>
                    <input type="password" name="email" id="password" class="hidden" autocomplete="off">
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/login.js"></script>
</body>

</html>