@font-face {
    font-family: Futura;
    src: url('/assets/fonts/Futura-Medium.ttf');
}
  
@font-face {
    font-family: FuturaICGDemi;
    src: url('/assets/fonts/Futura-ICG-Demi.ttf');
}
  
@font-face {
    font-family: AndaleMono;
    src: url('/assets/fonts/AndaleMono.ttf');
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:not(input) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
body, html {
    height: 100%;
}
  
body {
    color: #ffffff;
    font-family: Futura;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background-color: #1b1b1b;
}

h1 {
  font-weight: 500;
  font-family: FuturaICGDemi;
}

p {
  font-family: AndaleMono;
}

input {
    width: 100%;
    border: 0;
    background: none;
    color: white;
    line-height: 100%;
}

.terminal-login {
    font-family: AndaleMono;
}

.terminal-login > div {
    display: flex;
}

.terminal-login > div .prompt {
    transition: all .1s;
    flex: 0 0 auto;
    margin-right: 5px;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal-login {
    margin-bottom: 22px;
}

.hidden {
    visibility: hidden;
}

.danger {
    color: rgb(255, 157, 157);
}